/*===========================================================*/
/*	--Colors
/*===========================================================*/

$textRegular: #717171;
$textDark: #333;
$textLight: #ccc;
$textLink: #515151;


$mainColor: #feed71;
$SecondaryColor: #333;
$SectionsColor: #f7f7f7;